.person-panel {
  background: #fff;
  width: 220px;
  padding: 0 40px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .user-avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 46px;
    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
    }
  }

  .base-info {
    margin-bottom: 36px;
    .nickname {
      font-size: 24px;
      color: #000;
    }

    .job-title {
      font-size: 16px;
      color: #d6dce1;
    }
  }

  .contact-info {
    p {
      font-size: 16px;
      color: #d6dce1;
      margin-bottom: 20px;
      height: 20px;
      line-height: 20px;
    }
  }
}
