@font-face {
  font-family: 'chatroom';  /* project id 391209 */
  src: url('//at.alicdn.com/t/font_391209_51hxbgglt113jtt9.eot');
  src: url('//at.alicdn.com/t/font_391209_51hxbgglt113jtt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_391209_51hxbgglt113jtt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_391209_51hxbgglt113jtt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_391209_51hxbgglt113jtt9.svg#iconfont') format('svg');
}

* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: #485769;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
