.chat-panel {
  background: #f2f7f7;
  width: 680px;
  height: 100%;
  font-size: 12px;
  border-right: 1px solid #e3e7e7;

  .header {
    display: flex;
    height: 7%;
    align-items: center;
    border: 1px solid #e3e7e7;
    padding-left: 30px;

    .nickname {
      margin-right: 20px;
      font-size: 20px;
      color: #000;
    }

    .status {
      color: #99a8b4;

      i {
        display: inline-block;
        margin-right: 6px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }

      .online {
        background: #55d48b;
      }
    }
  }

  .msg-panel {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    padding-left: 30px;
    height: 73%;
    overflow-y: scroll;
    border-right: 1px solid #e3e7e7;
    .msg-item {
      margin-bottom: 18px;
      .avatar {
        float: left;
        margin-right: 10px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }

      .msg-text {
        float: left;
        background: #fff;
        color: #99a8b4;
        padding: 13px;
      }
    }
    .own {
      display: flex;
      justify-content: flex-end;
      .msg-text {
        background: #55d48b;
        margin-right: 10px;
        color: #fff;
      }
    }
    .msg-item:after {
      clear: both;
      content: '';
      display: table;
    }
  }
}
