.lef-nav {
  display: flex;
  flex-direction: column;
  background: #303841;
  width: 60px;
  height: 100%;

  .avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .nav-list {

  }
}
